<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-66F4OLH;Initial Catalog=Transfer;User ID=sa;Password=asdf1234" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
